.footer {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 350px;
  align-items: center;
}

.link1 {
  text-align: center;
list-style: none;  width: 30%;
  border: 2px solid red;
}

.link2 {
  text-align: center;
  list-style: none;
  border: 2px solid green;
  width: 30%;
}

.link3 {
  text-align: center;
  list-style: none;
  border: 2px solid blue;
  width: 30%;
}
